name: Publish to GPR

on:
  release:
    types: [ published ]


env:
  JDK_VERSION: 8

jobs:
  build:
    runs-on: ubuntu-20.04

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v4
        with:
          path: ~/.gradle
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Setup JDK ${{ env.JDK_VERSION }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JDK_VERSION }}
          distribution: 'adopt'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build and Test
        run: ./gradlew build test

      - name: Upload artifacts to GitHub
        run: ./gradlew publishMavenPublicationToGitHubRepository -Dorg.gradle.unsafe.configuration-cache=false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
